<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Thalamus</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Thalamus"/>
        <link href="css/thalamus.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="linha">
                <div class="coluna">
                    <nav class="jm jm-menu nav-maior none" id="menu">
                        <div class="separador">
                            <a href="sgi.html">SGI</a>
                            <a href="projetos.html" class="ativo">Projetos</a>
                            <a href="monitoramento.html">Monitoramento</a>
                            <a href="#">Acesso</a>
                            <a href="#">Indicadores</a>
                            <a href="injetora.html">Painel Injetora</a>
                        </div>
                    </nav>
                    <a href="inicial.html" class="logo logo-menor">Thalamus</a>
                    <a href="#" class="icone-avancar negrito com-texto" onclick="document.getElementById('menu').classList.toggle('none');this.classList.toggle('ativo');return false">Projetos</a>
                </div>
                <div class="coluna">
                    <a href="#" class="avatar direita" onclick="document.getElementById('usuario').classList.toggle('none');this.classList.toggle('ativo');return false" title="Usuário"><img src="img/avatar.png"/></a>
                    <nav class="jm jm-avatar none" id="usuario">
                        <div class="separador margem alinha-centro negrito">
                            Jorge Moreira de Souza
                        </div>
                        <div class="separador">
                            <a href="#" onclick="document.documentElement.classList.toggle('dark');this.classList.toggle('ativo');return false"><span class="direita toggle"></span>Tema escuro</a></dd>
                        </div>
                        <div class="separador bg-cinza">
                            <a href="#">Ajuda</a>
                            <a href="nova-senha.html">Alterar senha</a>
                            <a href="login.html">Sair</a>
                        </div>
                    </nav>
                    <a href="#" class="icone-notif direita" title="Notificações" rel="2" onclick="document.getElementById('notificacoes').classList.toggle('none');this.classList.toggle('ativo');return false"></a>
                    <nav class="jm jm-notif none" id="notificacoes">
                        <div class="separador">
                            <a href="#"><span class="fonte-fraca fonte-menor direita">12min</span>Título da notificação</a>
                            <a href="#"><span class="fonte-fraca fonte-menor direita">2h</span>Título da notificação</a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main id="main">
            <aside>
                <div class="titulo margem efeito">
                    <div class="m-icone"><a href="#" class="icone-menu" title="Menu" onclick="document.getElementById('main').classList.toggle('esconde');return false"></a></div>
                </div>
                <nav class="nav-maior separador">
                    <a href="#" class="icone-inc">Adicionar</a>
                </nav>
                <nav class="nav-maior separador">
                    <a href="area-do-responsavel.html">Área do responsável</a>
                    <a href="area-do-solicitante.html" class="ativo">Área do solicitante</a>
                </nav>
            </aside>
            <section>
                <div class="titulo">
                    <div class="margem container">
                        <h2>Área do solicitante</h2>     
                    </div>
                </div>
                <div class="margem container">
                        <fieldset class="grid-4 bloco2 margem m-b">
                            <div class="col-2"><label>Nome do projeto</label><input type="text"/></div>
                            <div><label>Nível <span class="icone-info icone-menor" title="mensagem"></span></label><select><option>Opção 1</option><option>Opção 2</option></select></div>
                            <div><label>Tipo <span class="icone-info icone-menor" title="mensagem"></span></label><select><option>Opção 1</option><option>Opção 2</option></select></div>
                            <div><label>Finalidade <span class="icone-info icone-menor" title="mensagem"></span></label><select><option>Opção 1</option><option>Opção 2</option></select></div>
                            <div><label>área <span class="icone-info icone-menor" title="mensagem"></span></label><select><option>Opção 1</option><option>Opção 2</option></select></div>
                            <div><label>Setor aprovador <span class="icone-info icone-menor" title="mensagem"></span></label><select><option>Opção 1</option><option>Opção 2</option></select></div>
                            <div><label>Data de abertura</label><input type="date"/></div>
                            <div class="col-4"><label>Descrição do problema <span class="icone-info icone-menor" title="mensagem"></span></label><textarea></textarea></div>
                            <div class="col-4"><label>Possível solução <span class="icone-info icone-menor" title="mensagem"></span></label><textarea></textarea></div>
                            <div class="col-4"><label>Propósito da mudança <span class="icone-info icone-menor" title="mensagem"></span></label><textarea></textarea></div>
                            <div><label>Estimativa de custo (R$) <span class="icone-info icone-menor" title="mensagem"></span></label><input type="text"/></div>
                            <div><label>Limite de implementação</label><input type="date"/></div>
                            <div><label>Responsável pela solicitação <span class="icone-info icone-menor" title="mensagem"></span></label><select><option>Opção 1</option><option>Opção 2</option></select></div>
                            <div><label>Setor demandante <span class="icone-info icone-menor" title="mensagem"></span></label><select><option>Opção 1</option><option>Opção 2</option></select></div>
                        </fieldset>
                        <div class="submit"><button>Salvar</button><button class="acao-secundaria">Cancelar</button></div>
                </div>
            </section>
        </main>
    </body>
</html>
