<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Thalamus</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Thalamus"/>
        <link href="css/thalamus.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="linha">
                <div class="coluna">
                    <nav class="jm jm-menu none" id="menu">
                        <div class="separador">
                            <a href="#" class="ativo">Montagem</a>
                            <a href="#">Sistema A</a>
                            <a href="#">Sistema B</a>
                        </div>
                    </nav>
                    <a href="inicial.html" class="logo logo-menor">Thalamus</a>
                    <a href="#" class="icone-avancar negrito com-texto" onclick="document.getElementById('menu').classList.toggle('none');this.classList.toggle('ativo');return false">Montagem</a>
                </div>
                <div class="coluna">
                    <a href="#" class="avatar direita" onclick="document.getElementById('usuario').classList.toggle('none');this.classList.toggle('ativo');return false" title="Usuário"><img src="img/avatar.png"/></a>
                    <nav class="jm jm-avatar none" id="usuario">
                        <div class="separador margem alinha-centro negrito">
                            Jorge Moreira de Souza
                        </div>
                        <div class="separador">
                            <a href="#" onclick="document.documentElement.classList.toggle('dark');this.classList.toggle('ativo');return false"><span class="direita toggle"></span>Tema escuro</a></dd>
                        </div>
                        <div class="separador bg-cinza">
                            <a href="#">Ajuda</a>
                            <a href="nova-senha.html">Alterar senha</a>
                            <a href="login.html">Sair</a>
                        </div>
                    </nav>
                    <a href="#" class="icone-notif direita" title="Notificações" rel="2" onclick="document.getElementById('notificacoes').classList.toggle('none');this.classList.toggle('ativo');return false"></a>
                    <nav class="jm jm-notif none" id="notificacoes">
                        <div class="separador">
                            <a href="#"><span class="fonte-fraca fonte-menor direita">12min</span>Título da notificação</a>
                            <a href="#"><span class="fonte-fraca fonte-menor direita">2h</span>Título da notificação</a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section>
                <div class="margem alinha-centro">
                    <div class="loading"><div></div></div>
                </div>
            </section>
        </main>
    </body>
</html>
