<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Thalamus</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Thalamus"/>
        <link href="css/thalamus.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="linha">
                <div class="coluna">
                    <nav class="jm jm-menu nav-maior none" id="menu">
                        <div class="separador">
                            <a href="sgi.html">SGI</a>
                            <a href="projetos.html">Projetos</a>
                            <a href="monitoramento.html" class="ativo">Monitoramento</a>
                            <a href="#">Acesso</a>
                            <a href="#">Indicadores</a>
                            <a href="injetora.html">Painel Injetora</a>
                        </div>
                    </nav>
                    <a href="inicial.html" class="logo logo-menor">Thalamus</a>
                    <a href="#" class="icone-avancar negrito com-texto" onclick="document.getElementById('menu').classList.toggle('none');this.classList.toggle('ativo');return false">Monitoramento</a>
                </div>
                <div class="coluna">
                    <a href="#" class="avatar direita" onclick="document.getElementById('usuario').classList.toggle('none');this.classList.toggle('ativo');return false" title="Usuário"><img src="img/avatar.png"/></a>
                    <nav class="jm jm-avatar none" id="usuario">
                        <div class="separador margem alinha-centro negrito">
                            Jorge Moreira de Souza
                        </div>
                        <div class="separador">
                            <a href="#" onclick="document.documentElement.classList.toggle('dark');this.classList.toggle('ativo');return false"><span class="direita toggle"></span>Tema escuro</a></dd>
                        </div>
                        <div class="separador bg-cinza">
                            <a href="#">Ajuda</a>
                            <a href="nova-senha.html">Alterar senha</a>
                            <a href="login.html">Sair</a>
                        </div>
                    </nav>
                    <a href="#" class="icone-notif direita" title="Notificações" rel="2" onclick="document.getElementById('notificacoes').classList.toggle('none');this.classList.toggle('ativo');return false"></a>
                    <nav class="jm jm-notif none" id="notificacoes">
                        <div class="separador">
                            <a href="#"><span class="fonte-fraca fonte-menor direita">12min</span>Título da notificação</a>
                            <a href="#"><span class="fonte-fraca fonte-menor direita">2h</span>Título da notificação</a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section>
                <div class="titulo">
                    <div class="margem container">
                        <div class="m-icone esquerda"><a href="monitoramento.html" class="icone-voltar m-d" title="Baixar aplicativo"></a></div>
                        <h2>Detalhe</h2>     
                    </div>
                </div>
                <div class="margem container">
                    <div class="bloco margem">
                    <h3>Título</h3>
                    <div class="grid-3 m-b">
                        <a href="#" class="bloco margem"><b>REQ-0015</b><div class="fonte-menor fonte-fraca">29/05/2024</div></a>
                        <a href="#" class="bloco margem"><b>REQ-0015</b><div class="fonte-menor fonte-fraca">29/05/2024</div></a>
                        <div class="bloco margem bg-ok lead">Mensagems</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>

<p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
                </div>
            </section>
        </main>
    </body>
</html>
