<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Thalamus</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Thalamus"/>
        <link href="css/thalamus.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="login">
            <section class="alinha-v">
                <div class="margem">
                    <p class="logo">Thalamus</p>
                    <p>Digite sua nova senha.</p>
                    <fieldset>
                        <div class="linha">
                            <label class="icone-senha pos-input"></label><input type="password" placeholder="Nova senha"/>
                        </div>
                        <div class="linha">
                            <label class="icone-senha pos-input"></label><input type="password" placeholder="Repite sua senha"/>
                        </div>
                    </fieldset>
                    <div class="submit"><button><span class="icone-avancar direita"></span>Enviar</button></div>
                </div>
            </section>
        </main>
    </body>
</html>
