<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Thalamus</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Thalamus"/>
        <link href="css/thalamus.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="linha">
                <div class="coluna">
                    <nav class="jm jm-menu nav-maior none" id="menu">
                        <div class="separador">
                            <a href="sgi.html">SGI</a>
                            <a href="projetos.html" class="ativo">Projetos</a>
                            <a href="monitoramento.html">Monitoramento</a>
                            <a href="#">Acesso</a>
                            <a href="#">Indicadores</a>
                            <a href="injetora.html">Painel Injetora</a>
                        </div>
                    </nav>
                    <a href="inicial.html" class="logo logo-menor">Thalamus</a>
                    <a href="#" class="icone-avancar negrito com-texto" onclick="document.getElementById('menu').classList.toggle('none');this.classList.toggle('ativo');return false">Projetos</a>
                </div>
                <div class="coluna">
                    <a href="#" class="avatar direita" onclick="document.getElementById('usuario').classList.toggle('none');this.classList.toggle('ativo');return false" title="Usuário"><img src="img/avatar.png"/></a>
                    <nav class="jm jm-avatar none" id="usuario">
                        <div class="separador margem alinha-centro negrito">
                            Jorge Moreira de Souza
                        </div>
                        <div class="separador">
                            <a href="#" onclick="document.documentElement.classList.toggle('dark');this.classList.toggle('ativo');return false"><span class="direita toggle"></span>Tema escuro</a></dd>
                        </div>
                        <div class="separador bg-cinza">
                            <a href="#">Ajuda</a>
                            <a href="nova-senha.html">Alterar senha</a>
                            <a href="login.html">Sair</a>
                        </div>
                    </nav>
                    <a href="#" class="icone-notif direita" title="Notificações" rel="2" onclick="document.getElementById('notificacoes').classList.toggle('none');this.classList.toggle('ativo');return false"></a>
                    <nav class="jm jm-notif none" id="notificacoes">
                        <div class="separador">
                            <a href="#"><span class="fonte-fraca fonte-menor direita">12min</span>Título da notificação</a>
                            <a href="#"><span class="fonte-fraca fonte-menor direita">2h</span>Título da notificação</a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main id="main">
            <aside>
                <div class="titulo margem efeito">
                    <div class="m-icone"><a href="#" class="icone-menu" title="Menu" onclick="document.getElementById('main').classList.toggle('esconde');return false"></a></div>
                    <nav class="jm jm-inc none" id="menuIncluir">
                        <div class="separador">
                            <a href="#">Incluir projeto</a>
                            <a href="monitoramento.html">Incluir projeto</a>
                        </div>
                    </nav>
                </div>
                <nav class="nav-maior separador">
                    <a href="#" class="icone-inc">Novo projeto</a>
                    <a href="#" class="icone-inc">Novo plano de ação</a>
                </nav>
                <nav class="nav-maior separador">
                    <a href="#" class="ativo">Aprovar</a>
                    <a href="#">Demandados</a>
                    <a href="#">Minhas tarefas</a>
                    <a href="#">Planos de ação</a>
                </nav>
            </aside>
            <section>
                <div class="titulo">
                    <div class="margem container">
                        <div class="m-icone direita">
                            <div class="pesquisa">
                                <input type="text" placeholder="Pesquise aqui"/>
                                <a href="#" class="icone-pesquisa" title="Pesquise"></a>
                            </div>
                        </div>
                        <h2>Aprovar</h2>     
                    </div>
                </div>
                <div class="margem container">
                    <fieldset class="grid-4 bloco2 margem">
                        <div><label>Origem</label><input type="text"/></div>
                        <div><label>Status da origem</label><input type="text"/></div>
                        <div><label>Status da tarefa</label><input type="text"/></div>
                        <div><label>Responsável</label><input type="text"/></div>
                        <div><label>Período de</label><input type="date"/></div>
                        <div><label>Até</label><input type="date"/></div>
                        <div><label>Hora</label><input type="time"/></div>
                        <div><label>Turno</label><select><option>Manhã</option><option>Tarde</option><option>Noite</option></select></div>
                    </fieldset>
                    <div class="submit m-b"><button>Buscar</button><button class="acao-secundaria">Cancelar</button></div>
                    <div class="bloco margem">
                        <div class="tags m-b">
                            <a href="#" class="ativo">Ativos</a>
                            <a href="#" class="ativo">Inativos</a>
                            <a href="#">Pendentes</a>
                        </div>
                        <table class="tabela">
                            <tbody>
                                <tr>
                                    <th>Nome</th><th>Perfil</th><th>Turno</th><th>Equipe</th><th>Data</th>
                                </tr>
                                <tr>
                                    <td class="clicavel">Ana Maria Lima <span class="chip bg-ok">Ativo</span></td>
                                    <td class="clicavel">Adm</td>
                                    <td><select class="txt-ok"><option>Manhã</option><option>Tarde</option><option>Noite</option></select></td>
                                    <td><select class="bg-ok"><option>A</option><option>B</option></select></td>
                                    <td>12/05/2024</td>
                                </tr>
                                <tr>
                                    <td class="clicavel">João Cosme Lima <span class="chip bg-alerta">Alerta</span></td>
                                    <td class="clicavel">Adm</td>
                                    <td><select><option>Manhã</option><option>Tarde</option><option>Noite</option></select></td>
                                    <td><select class="bg-alerta"><option>A</option><option>B</option></select></td>
                                    <td>12/05/2024</td>
                                </tr>
                                <tr>
                                    <td class="clicavel">Renato Ferreira Santos <span class="chip bg-sucesso">Sucesso</span></td>
                                    <td class="clicavel">Normal</td>
                                    <td><select class="txt-sucesso"><option>Manhã</option><option>Tarde</option><option>Noite</option></select></td>
                                    <td><select class="bg-sucesso"><option>A</option><option>B</option></select></td>
                                    <td>12/05/2024</td>
                                </tr>
                                <tr>
                                    <td class="clicavel">Pedro Cavalcante <span class="chip bg-erro">Inativo</span></td>
                                    <td class="clicavel">Adm</td>
                                    <td><select class="txt-erro"><option>Manhã</option><option>Tarde</option><option>Noite</option></select></td>
                                    <td><select class="bg-erro"><option>A</option><option>B</option></select></td>
                                    <td>12/05/2024</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginacao">
                            <a href="#" class="ativo">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">16</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
