<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Thalamus</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Thalamus"/>
        <link href="css/thalamus.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="login">
            <section class="alinha-v">
                <div class="margem">
                    <p class="logo">Thalamus</p>
                    <p>Digite seu e-mail ou CPF para redefinir sua senha.</p>
                    <fieldset>
                    <div class="linha">
                        <label class="icone-conta pos-input"></label><input type="text" placeholder="E-mail ou CPF"/>
                    </div>
                    </fieldset>
                    <div class="submit"><button onclick="document.getElementById('mensagem').classList.toggle('none');"><span class="icone-avancar direita"></span>Enviar</button></div>

                    <div id="mensagem" class="msg none"><b>E-mail para redefinição de senha enviado</b><br /><span class="fonte-menor">Por favor consulte sua caixa de e-mails</span></div>
                </div>
            </section>
        </main>
    </body>
</html>
